// @import 'scss/foundation.scss';

svg {
	#states {
		path {
		  fill: none;
		  stroke: #DDE;
		  stroke-width: 1px;
		}
	}
	#cities {
		fill: #AAB;
		opacity: 0.8;
	}
	#links {
		stroke: #AAB;
		stroke-width: 1px;
	}
}